multitenancy_enabled: false

common:
  storage:
    backend: filesystem
    filesystem:
      dir: /data/mimir

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /data/mimir/blocks
  bucket_store:
    sync_dir: /data/mimir/tsdb-sync
  tsdb:
    dir: /data/mimir/tsdb

compactor:
  data_dir: /data/mimir/compactor
  sharding_ring:
    kvstore:
      store: memberlist

distributor:
  ring:
    kvstore:
      store: memberlist

ingester:
  ring:
    kvstore:
      store: memberlist
    replication_factor: 1

ruler:
  rule_path: /data/mimir/rules
  alertmanager_url: http://127.0.0.1:8080/alertmanager
  ring:
    kvstore:
      store: memberlist

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: memberlist

server:
  http_listen_port: 9009
  grpc_listen_port: 9095
